PORT=8000

CORS_ORIGIN=http://localhost:5173,http://localhost:5174
MONGO_URI=mongodb+srv://UUSER:UPASSWORD@cluster0.vpmn4.mongodb.net

ACCESS_TOKEN_SECRET=darkness
REFRESH_TOKEN_SECRET=light

REDIS_URL=redis://:PASSWORD@HOST:PORT/DB_NUMBER


CLOUDINARY_NAME=CLOUDINARY_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET

AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
AWS_REGION=AWS_REGION
S3_BUCKET=S3_BUCKET

OBJECT_STORAGE_PROVIDER=aws
# Set OBJECT_STORAGE_PROVIDER=vultr to switch to Vultr and set back to aws to rollback.

VULTR_HOSTNAME=blr1.vultrobjects.com
VULTR_ACCESS_KEY=VULTR_ACCESS_KEY
VULTR_SECRET_KEY=VULTR_SECRET_KEY
VULTR_BUCKET=BUCKET_NAME



NODE_ENV=development

GOOGLE_CLIENT_ID=OAUTH_CLIENT_ID
GOOGLE_CLIENT_SECRET=OAUTH_CLIENT_SECRET
BASE_URL=http://localhost:8000
