PORT=8000

CORS_ORIGIN=*
MONGO_URI=mongodb+srv://darklord:qwertyuiop@cluster0.vpmn4.mongodb.net

ACCESS_TOKEN_SECRET=darkness
REFERESH_TOKEN_SECRET=light

CLOUDINARY_NAME=dvc3yzzhf
CLOUDINARY_API_KEY=771592714831467
CLOUDINARY_API_SECRET=pCsd_QhSiM99DHAUswN3CLuiZ-0

NODE_ENV=development